<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsmResolver" version="5.2.0" targetFramework="net48" />
  <package id="AsmResolver.PE" version="5.2.0" targetFramework="net48" />
  <package id="AsmResolver.PE.File" version="5.2.0" targetFramework="net48" />
  <package id="AsmResolver.PE.Win32Resources" version="5.2.0" targetFramework="net48" />
  <package id="KaitaiStruct.Runtime.CSharp" version="0.10.0" targetFramework="net48" />
  <package id="SharpShell" version="2.7.2" targetFramework="net48" />
</packages>